.title-protocol{
    padding: 1rem 0 0.5rem 1rem;
    font-weight: 700;

}

.title-protocol::first-letter {
    text-transform: capitalize;
}

.box-protocol{
    display: flex;
}

.protocol{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}