.msg-protocol::first-letter  {
    text-transform: capitalize;

}
.msg-protocol {
    font-size: 0.9rem;
    margin: 1rem;
}

.box-img-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.5rem;

}

.box-img-info img {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.5rem;
}