.form {
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    
}

.line-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    height: 3rem;

}

.label-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.periodo::first-letter {
    text-transform: capitalize;
}

.box-closeUnit {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


.selectOption {
    justify-content: space-between;
}
.form-select {
    width: 5rem;
    height: 1.8rem;
    text-align: center;
    font-size: 0.8rem;
    border: none;
    color: black;
}

.formUF {
    margin-left: 0.4rem;
}


@media (max-width: 375px) {
    
    .line-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        height: 4.2rem;
        font-size: 1.1rem;
    
    } 

    .typeRadioCss {
        
    }
    
    
    .box-closeUnit{
        display: flex;
        flex-direction: column;
        padding: 0.2rem;

    }

    .closeUnits {
        padding-bottom: 1rem;
    }

    .quantitClosed{
        padding-bottom: 1rem;
        padding-left: 0.3rem;
    }


}
    
