
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 6rem;
    width: 100%;
}

.svg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
}

@media (max-width: 375px) {
    
    .header {
        width: 100vw;
        height: 20vh;
    }
}


/* @media (max-width: 190px) {
    .header {
        width: 150vw;
    }
} */
