.containerBoxUniRender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    flex-wrap: wrap;

}

.containerUnitNotFound {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
}

.msgUnitNotFound {
    font-size: 1rem;

}


@media (max-width: 375px) {
    .containerBoxUniRender {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        
       
    }
}