.containerBoxUniRender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    flex-wrap: wrap;

}

@media (max-width: 375px) {
    .containerBoxUniRender {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        
       
    }
}