.containerFooter {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10rem;

}

.msgContainerFooter {
    color: white;
}

@media (max-width: 375px){
    .containerFooter {
        height: 10rem;
        margin-bottom: 6rem;

    }

}