@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Outfit:wght@300;400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
}


.container-page {
    display: flex;
    flex-direction: column;
    
}

/* @media (max-width: 190px) {
    .containerGeralborder{ 
        border: solid black 2px;
    }
} */