.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.btn-serch-unit, .btn-clean {
    text-transform: uppercase;
    padding: 0.7rem 3rem 0.7rem 3rem;
    border: none;
    margin: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.7rem;

}

.btn-serch-unit{
    background-color: #FFB612;
}

.btn-clean {
    border: solid 1px rgba(0, 0, 0, 0.2) ;
}

@media (max-width: 656px) {
    .buttons {
        display: flex;
        flex-direction: column;

    }
 



}

