.box-protocols{
    display: flex;
    background-color: #f1eeeef3;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 375px) {
    .box-protocols {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
}










